<!DOCTYPE html>
<html lang="en">
<head id="html-head">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Company Info : Seeed Studio Bazaar, Boost ideas, Extend the Reach</title>
<meta name="keywords" content="Power Supply Microcontrollers Awesome Projects Communication Sensors Displays Audios & Videos Actuators Prototyping Mechanics Accessories Tools Service & Gifts Retired Undefined Lights Development Kits User Interface Drivers Clearance Hook-up Memory Storage Computer Components Pre-Christmas Sale  Company Info">
<meta name="description" content="Seeed Studio Bazaar : Company Info - Power Supply Microcontrollers Awesome Projects Communication Sensors Displays Audios & Videos Actuators Prototyping Mechanics Accessories Tools Service & Gifts Retired Undefined Lights Development Kits User Interface Drivers Clearance Hook-up Memory Storage Computer Components Pre-Christmas Sale ">
<meta http-equiv="imagetoolbar" content="false">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="cache-control" content="max-age=3600">
<meta http-equiv="Expires" content="Thu, 31 Mar 2016 16:49:18 +0800">
<meta http-equiv="Last-Modified" content="Tue, 01 Jan 1990 12:00:00 GMT">
<meta property="og:title" content="Seeed Studio Bazaar"><!-- facebook meta,2011-04-29,Open Graph Protocol Begin-->
<meta property="og:site_name" content="Seeed Studio Bazaar">
<meta property="og:image" content="includes/templates/bootstrap/images/logo.png">
<meta property="og:url" content="http://www.seeedstudio.com/depot/">
<meta property="fb:admins" content="212078792144410">
<meta property="og:type" content="website"><!-- facebook meta,2011-04-29,Open Graph Protocol End-->
<!-- <base href="https://www.seeedstudio.com/depot/"> -->
<script src="/js/lib/jquery-1.11.3.min.js"></script>
<script src="/js/base_module.js"></script>
<link rel="stylesheet" href="/css/lib/fnav/about.css">
<script src="/js/fnav.js"></script>
<!--[if lt IE 9]>
  <script src="includes/templates/bootstrap/jscript/html5shiv.js?20160225"></script>
  <script src="includes/templates/bootstrap/jscript/respond.min.js?20160225"></script>
<![endif]-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '1080959988628815');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1080959988628815&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
</head>
<body id="aboutusBody">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="header" id="header"></header>
  <!-- Start of container -->
  <div class="container">
    <div class="">
              <ol class="breadcrumb"><li><a href="http://www.seeedstudio.com/depot/" > <span class="glyphicon glyphicon-home"></span>Bazaar</a></li>
<li class="active">Company Info</li></ol>
                        <div class="col-sm-12">
                <div class="row">
	<ul class="nav nav-tabs">
        <li class="active"><a >About Seeed</a></li>
        <li ><a >How to find us</a></li>
        <li><a >Google Maps</a></li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active" id="aboutus">
			<div class="col-sm-12"><div class="sInfo row">
  				<div class="pull-left"><img src="http://www.sd.com/img/fnav/about.png" alt="seeed propagate service" class="img-responsive"></div>
				<div class="pull-right lh26 col-sm-6">
					<h4>About Seeed</h4>
				    <p>Diversified demands cannot be fully satisfied by mass production. The booming of open source hardware, 3D printing, crowd-funding and global logistics creates a evolutional easy platform to hardware innovators. Products are becoming democratized, as some of the consumers now calling themselves makers.</p>
				    <p>Seeed is a hardware innovation platform for makers to grow inspirations into differentiating products. By working closely with technology providers of all scale, Seeed provides accessible technologies with quality, speed and supply chain knowledge. When prototypes are ready to iterate, Seeed helps productize 1 to 1,000 pcs using in-house engineering, supply chain management and agile manufacture forces. Seeed also team up with incubators, Chinese tech ecosystem, investors and distribution channels to portal Maker startups beyond.</p>
				</div>
				<div class="col-sm-12 lh26"><div class="row">
			      <div class="sInfo mt40">
			        <h4><a href="http://www.seeedstudio.com/depot/">Bazaar</a></h4>
			        <p>Bazaar is an online market where you can always stroll around and discover something that WOWs you: the great variety, the distinctiveness, the high quality and the reasonable price.</p>
			        <p>By placing orders at Bazaar, you can enjoy maker-exclusive shopping experience with support of our global logistics and supply chain proficiency. So far, Seeed Studio and over 200 distributors have served 2 million makers around over 200 countries.</p>
			      </div>
			      <div class="sInfo mt40">
			        <h4><a href="http://www.seeedstudio.com/wish/">Wish</a></h4>
			        <p>Wish is a platform where we can fulfill what you need. If you are looking for a module which cannot be found at the Bazaar, you can propose your ideas and inspirations here, discuss your design with other hobbyists, and accomplish your projects by the power of the community. Here is where the seed of creativity starts to grow.</p>
			      </div>
			      <div class="sInfo mt40">
			        <h4><a href="http://www.seeedstudio.com/recipe/">Recipe</a></h4>
			        <p>Recipe is a community of open source solutions for reference and field use. By following the step-by-step guidance, you can build up your project and experience the ecstasy of a maker. As a product framework from atoms to bits, recipe enables makers to achieve their goals with a systematic and logical approach. Also, it serves as a portal between prototype and production, which assists makers in turning their inspiration into reality.</p>
			      </div>
			      <div class="sInfo mt40">
			        <h4><a href="http://www.seeedstudio.com/service/">Fusion</a></h4>
			        <p>In order to help makers turn their design into reality, Seeed Studio provides one-stop service such as Fusion service, which lays foundation for prototype and engineering samples. Fusion service helps prepare and integrate resouces for pre-stage of product, such as fusion PCB, PDBA prototype, PCB stencil, laser cutting, 3D printing, etc.</p>
			      </div>
			      <div class="sInfo mt40">
			        <h4><a href="http://www.seeedstudio.com/propagate/">Propagate</a></h4>
			        <p>Propagate is Seeed Studio’s feaured one-stop service to help hardware innovators with new product integration and agile manufacture forces. With resources and profession in maker-friendly supply chain, propagate service brings the flexibility into full play, which enables our customers to unleash their inner inventor and focus more on product design and tech support.</p>
			        <p>Grow and help makers grow. Live and help makers live.<br>
			        <p>As the open source hardware innovator, we believe that we have the obligation to take the initiative to respects and abide by the protocols of the industry. Our persistent efforts make us at the cutting edge of open source hardware industry.</p>
			        <p>Moreover, we persevere to improve the eco-system, such as the establishment of the first hackerspace in Shenzhen, the organization of the Maker Faire, etc.</p>
			        <p>We believe that everyone can be a maker.</p>
			      </div>
				    <div class="mt40 bquote">
				      <blockquote>
				        <p>
				          “Y’Know how I keep saying there needs to be a Ravelry for hardware?<br />
				          SeeedStudio’s new Recipe site could get there: <a target="_blank" href="http://www.seeedstudio.com/recipe/">seeedstudio.com/recipe/</a>”
				        </p>
				      </blockquote>
				      <div class="text-right">&mdash; Kaia Dekker</div>
				    </div>
				    <div class="mt40 bquote">
				      <blockquote>
				        <p>
				          “Seeed is heaven for Makers, hobbyists, tinkerers, enthusiasts, engineers, and professionals. Even if you just have an idea but don’t know how to implement it, Seeed will help you realize it.&nbsp;”
				        </p>
				      </blockquote>
				      <div class="text-right">&mdash; Kristoffer Dominic Amora</div>
				    </div>
				</div></div>
          </div></div>
        </div>
        <div class="tab-pane " id="findus">
          <div class="col-sm-12"><div class="sInfo mt20">
            <p><strong>Seeed Technology Co., Ltd.</strong></p>
            <address>
                F5, Building 8, Shiling Industrial Park, Xinwei, Number32, Tongsha Road Xili Town, Nanshan District, Shenzhen, China. P.R.C<br>
                518055<br>
                Tel：0086 755 33552591<br> 
                Fax：0086 755 26978025
            </address>
            <h4>How to find us</h4>
            <p>Welcome to visit us in Seeed Studio; to chat with us esp. the engineers and hobbyists who develop fancy electronic stuff from cool ideas. &nbsp;Follow the guide </p>
            <p>In the map blow, <strong>A</strong> is the location of Seeed Studio in Shenzhen.</p>
            <div class="mb30"><img src="http://www.seeedstudio.com/document/seeed in Shenzhen.PNG" class="img-responsive"></div>
            <p>There is about 800 meters from <a href="http://en.wikipedia.org/wiki/Huanzhong_Line,_Shenzhen_Metro">the metro station (Liuxiandong)</a> to Seeed Studio. In the map below, <b>A</b> is Liuxiandong metro station, and <b>B</b> is Seeed Stadio.</p>
            <div class="mb30"><img src="http://www.seeedstudio.com/document/metro-seeed.PNG" class="img-responsive"></div>
            <div>
            	<h5>1、Get off Liuxiandong Metro Station <b>exit B</b></h5>
            	<div class="m520"><img src="http://www.seeedstudio.com/document/Exit B.jpg" class="img-responsive"></div>
            	<h5>2、Turn around from the subway exit, and walk towards the intersection of &nbsp;Liu xian Da Dao. &nbsp;At the intersection take a right onto Tongfa Rd.</h5>
            	<div class="mb20"><img src="http://www.seeedstudio.com/document/Exit B turn around.jpg" class="img-responsive"></div>
            	<div class="m520"><img src="http://www.seeedstudio.com/document/Tongfard.jpg" class="img-responsive"></div>
            	<h5>3、Walk along Tongfa Rd and then take a right onto Tongsha Rd.</h5>
				<div class="mb50"><img src="http://www.seeedstudio.com/document/Tongsha Rd.jpg" class="img-responsive"></div>
				<h5>4、Walk along the road until you arrive at No. 32. Turn left and walk up the ramp. &nbsp;If the security guard stops you, please call us (Tel: +86 755 36534826).</h5>
				<div class="mb50"><img src="http://www.seeedstudio.com/document/No.32.jpg" class="img-responsive"></div>
				<h5>5、You will see a 6-story building on your right side, and Seeed is on the 5th floor.</h5>
				<div class="mb50"><img src="http://www.seeedstudio.com/document/Ramp.jpg" class="img-responsive"></div>
				<h5>6、The entrance of the building is on the left side of the building. &nbsp;Take the elevator or walk up to the fifth floor.</h5>
				<div class="mb50"><img src="http://www.seeedstudio.com/document/the building.jpg" class="img-responsive"></div>
				<h5>7、Welcome to Seeed Studio!</h5>
				<div class="mb20"><img src="http://www.seeedstudio.com/document/Seeed Studio.jpg" class="img-responsive"></div>
            </div>
          </div></div>
        </div>
        <div class="tab-pane" id="gmaps">
          <div class="col-sm-12"><div class="sInfo mt20">
            <iframe width="100%" height="600" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3683.8609069277036!2d113.946011!3d22.584305!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3403ed838a4d6479%3A0x9142707bdfd15c2a!2sSeeed+Studio!5e0!3m2!1sen!2sca!4v1400181781590&amp;t=m&amp;z=14&amp;output=embed" marginwidth="0" marginheight="0" scrolling="no"></iframe>
          </div></div>
        </div>
      </div>
</div>
              </div>
                </div>
  </div>
  <!-- End of container -->

 <footer class="footer" id="footer"></footer>
   <script src="/js/fnav.js"></script>
    <script>
        $(function(){
            loadIndex();
        });
    </script>
</body></html>
