<!DOCTYPE html>
<html lang="en">
<head id="html-head">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Company Info : Seeed Studio Bazaar, Boost ideas, Extend the Reach</title>
<meta name="keywords" content="Power Supply Microcontrollers Awesome Projects Communication Sensors Displays Audios & Videos Actuators Prototyping Mechanics Accessories Tools Service & Gifts Retired Undefined Lights Development Kits User Interface Drivers Clearance Hook-up Memory Storage Computer Components Pre-Christmas Sale  Company Info">
<meta name="description" content="Seeed Studio Bazaar : Company Info - Power Supply Microcontrollers Awesome Projects Communication Sensors Displays Audios & Videos Actuators Prototyping Mechanics Accessories Tools Service & Gifts Retired Undefined Lights Development Kits User Interface Drivers Clearance Hook-up Memory Storage Computer Components Pre-Christmas Sale ">
<meta http-equiv="imagetoolbar" content="false">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="cache-control" content="max-age=3600">
<meta http-equiv="Expires" content="Thu, 31 Mar 2016 16:49:18 +0800">
<meta http-equiv="Last-Modified" content="Tue, 01 Jan 1990 12:00:00 GMT">
<meta property="og:title" content="Seeed Studio Bazaar"><!-- facebook meta,2011-04-29,Open Graph Protocol Begin-->
<meta property="og:site_name" content="Seeed Studio Bazaar">
<meta property="og:image" content="includes/templates/bootstrap/images/logo.png">
<meta property="og:url" content="http://www.seeedstudio.com/depot/">
<meta property="fb:admins" content="212078792144410">
<meta property="og:type" content="website"><!-- facebook meta,2011-04-29,Open Graph Protocol End-->
<!-- <base href="https://www.seeedstudio.com/depot/"> -->
<script src="/js/lib/jquery-1.11.3.min.js"></script>
<script src="/js/base_module.js"></script>
<link rel="stylesheet" href="/css/lib/fnav/about.css">
<script src="/js/fnav.js"></script>
<!--[if lt IE 9]>
  <script src="includes/templates/bootstrap/jscript/html5shiv.js?20160225"></script>
  <script src="includes/templates/bootstrap/jscript/respond.min.js?20160225"></script>
<![endif]-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '1080959988628815');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1080959988628815&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
</head>
<body id="aboutusBody">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="header" id="header"></header>
  <!-- Start of container -->
 <div class="container">
    <div class="">
              <ol class="breadcrumb"><li><a href="http://www.seeedstudio.com/depot/" > <span class="glyphicon glyphicon-home"></span>Bazaar</a></li>
<li class="active">Customer Service</li></ol>
                        <div class="col-sm-12">
                <div class="row">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a  href="customer_service.html">Customer Service</a></li>
    <li role="presentation"><a  href="support.html">Technical Support</a></li>
  </ul>
  <div class="col-md-12"><div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="customer">
        <div class="alert alert-info"><b>Note: </b> If you have any questions relate to the below subjects, please submit it to our Customer Service, we will reply you soon. Any other questions please contact our <a href="index.php?main_page=support" target="_blank">Technical Support</a>.</div>
        <div class="mb50">
            <h4><i class="fa fa-life-saver oc mr10"></i>Order Related</h4>
            <p>When asking questions about an order and shipping, please include your order number.</p>
        </div>
        <div class="mb50">
            <h4><i class="fa fa-life-saver oc mr10"></i>Payment Issue</h4>
            <p>Please contact us If you have met any problem during check out with PayPal or Credit Card.</p>
        </div>
        <div class="mb50">
            <h4><i class="fa fa-life-saver oc mr10"></i>General Information</h4>
            <p>If you are uncertain to which department you should send your question, our support team will help to direct it to the appropriate department</p>
            </dl>
        </div>
        <div class="row">
        <form action="http://www.seeedstudio.com/depot/index.php?main_page=customer_service" method="post" onSubmit="return form_check();return false;" id="form_customer_service">
            <div class="col-md-6 form-horizontal">
                <div class="form-group" style="display:none;">
                    <label class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">
                        <select id="need_help" name="need_help" class="radiusInput">
                            <option value="Order Related" selected="selected">Order Related</option>
                            <!--<option value="Quality Issue">Quality Issue</option>
                            <option value="Payment Issue">Payment Issue</option>
                            <option value="General Information">General Information</option>-->
                        </select>
                    </div>
                </div>     
                <div class="form-group">
                    <label class="col-sm-4 control-label">My order number is:</label>
                    <div class="col-sm-8">
                        <input type="text" placeholder="" name="order_number" id="order_number" class="form-control" placeholder="My order number is:">
                        <span class="help-block">When asking questions about an order and shipping, please include your order number.</span>   
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label"><s class="c">*</s>My e-mail address is:</label>
                    <div class="col-sm-8">
                        <input type="email" vlaue="" name="email_address" id="email_address" maxlength="100" class="form-control" placeholder="My e-mail address is:">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label"><s class="c">*</s>Subject:</label>
                    <div class="col-sm-8">
                        <input type="text" placeholder="Subject" name="email_subject" id="email_subject" maxlength="100" class="form-control">
                    </div>
                </div>         
                <div class="form-group">
                    <label class="col-sm-4 control-label"><s class="c">*</s>Description:</label>
                    <div class="col-sm-8">
                    <input id="service_user" name="service_user" type="hidden" value="" />
                    <textarea class="form-control" name="service_description" id="service_description" placeholder="Please enter the details of your request. A member of our support staff will respond as soon as possible."></textarea>
                    </div>
                </div>
                                <div class="form-group">
                    <label class="col-sm-4 control-label" for="postcode"><s class="c">*</s>Verification code:</label>
                    <div class="col-sm-8">
                        <input type="text" name="captcha" id="captcha" class="form-control" /><span class="help-block" placeholder="Verification code">&nbsp;* (case insensitive)</span>                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                        <img id="captcha-img" src="http://www.seeedstudio.com/depot/captcha_img.php?zenid=ad65ac961df01b300dcfb8e45c934df0&rand=0.246458001459498029" alt="Enable this picture" title=" Enable this picture " width="240" height="50" />                        <img src="http://www.sd.com/img/fnav/button_redraw.gif" alt="Redraw Capture Image" title=" Redraw Capture Image " width="54" height="19" onclick="document.getElementById('captcha-img').src='http://www.seeedstudio.com/depot/captcha_img.php?zenid=ad65ac961df01b300dcfb8e45c934df0&rand='+Math.random();return false;"  />                    </div>
                </div>
                 
                <div class="form-group">
                    <div class="col-sm-12 text-right">
                        <button id="" class="btn btn-success" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
  </div></div>
</div>              </div>
                </div>
  </div>

  <!-- End of container -->

 <footer class="footer" id="footer"></footer>
 <script src="/js/fnav.js"></script>
    <script>
        $(function(){
            loadIndex();
        });
    </script>
</body></html>
