<!DOCTYPE html>
<html lang="en">
<head id="html-head">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Company Info : Seeed Studio Bazaar, Boost ideas, Extend the Reach</title>
<meta name="keywords" content="Power Supply Microcontrollers Awesome Projects Communication Sensors Displays Audios & Videos Actuators Prototyping Mechanics Accessories Tools Service & Gifts Retired Undefined Lights Development Kits User Interface Drivers Clearance Hook-up Memory Storage Computer Components Pre-Christmas Sale  Company Info">
<meta name="description" content="Seeed Studio Bazaar : Company Info - Power Supply Microcontrollers Awesome Projects Communication Sensors Displays Audios & Videos Actuators Prototyping Mechanics Accessories Tools Service & Gifts Retired Undefined Lights Development Kits User Interface Drivers Clearance Hook-up Memory Storage Computer Components Pre-Christmas Sale ">
<meta http-equiv="imagetoolbar" content="false">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="cache-control" content="max-age=3600">
<meta http-equiv="Expires" content="Thu, 31 Mar 2016 16:49:18 +0800">
<meta http-equiv="Last-Modified" content="Tue, 01 Jan 1990 12:00:00 GMT">
<meta property="og:title" content="Seeed Studio Bazaar"><!-- facebook meta,2011-04-29,Open Graph Protocol Begin-->
<meta property="og:site_name" content="Seeed Studio Bazaar">
<meta property="og:image" content="includes/templates/bootstrap/images/logo.png">
<meta property="og:url" content="http://www.seeedstudio.com/depot/">
<meta property="fb:admins" content="212078792144410">
<meta property="og:type" content="website"><!-- facebook meta,2011-04-29,Open Graph Protocol End-->
<!-- <base href="https://www.seeedstudio.com/depot/"> -->
<script src="/js/lib/jquery-1.11.3.min.js"></script>
<script src="/js/base_module.js"></script>
<link rel="stylesheet" href="/css/lib/fnav/about.css">
<script src="/js/fnav.js"></script>
<!--[if lt IE 9]>
  <script src="includes/templates/bootstrap/jscript/html5shiv.js?20160225"></script>
  <script src="includes/templates/bootstrap/jscript/respond.min.js?20160225"></script>
<![endif]-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '1080959988628815');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1080959988628815&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
</head>
<body id="aboutusBody">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="header" id="header"></header>
  <!-- Start of container -->
  <div class="container">
    <div class="">
              <ol class="breadcrumb"><li><a href="http://www.seeedstudio.com/depot/" > <span class="glyphicon glyphicon-home"></span>Bazaar</a></li>
<li class="active">Collaboration Designers</li></ol>
                        <div class="col-sm-12">
                <div class="designers">
<div class="row">
    <h4>Collaboration Designers</h4><hr class="img-responsive">
    <div class="media row">
        <span class="col-md-2"><img src="http://www.sd.com/img/Al_Linke.jpg" alt="Al Linke" class="img-responsive"></span>
        <div class="media-body">
            <h4 class="media-heading">Al Linke</h4>
             Al is an IT Director by day and a tinkerer by night (when his wife lets him).
             <div class="mt10">
             <a class="btn btn-danger btn-xs mr10" href="../blog/2012/06/26/face-to-face-with-the-designer-al-linke" target="_blank">Interview</a>
			 <a class="btn btn-primary btn-xs mr10" href="http://diymagicmirror.com" target="_blank">Visit My Website</a>
			 <a class="btn btn-info btn-xs" href="http://www.seeedstudio.com/depot/Open-Gadgets-m-15.html" target="_blank">View My Design</a>
            </div>
        </div>
    </div>
    <div class="media row">
        <span class="col-md-2"><img src="http://www.sd.com/img/Ariel_Rocholl.jpg" alt="Ariel Rocholl" class="img-responsive"></span>
        <div class="media-body">
            <h4 class="media-heading">Ariel Rocholl</h4>
             Electrical Engineer with Telecommunications degree and more than 20 years of experience in Computer Science, MCU development and CAD design.I am passionate about Radio Frequency digital communication systems and services, and work towards open source initiatives to bring wireless products to life that are affordable and easy to use.
             <div class="mt10">
             <a class="btn btn-danger btn-xs mr10" href="../blog/2012/08/05/face-to-face-with-the-designer-ariel-rocholl" target="_blank">Interview</a>
			 <a class="btn btn-primary btn-xs mr10" href="http://www.rf-explorer.com" target="_blank">Visit My Website</a>
			 <a class="btn btn-info btn-xs" href="http://www.seeedstudio.com/depot/RF-Explorer-m-22.html" target="_blank">View My Design</a>
            </div>
        </div>
    </div>
	<div class="media row">
        <span class="col-md-2"><img src="http://www.sd.com/img//Frank_Zhao.jpg" alt="Frank Zhao" class="img-responsive"></span>
        <div class="media-body">
            <h4 class="media-heading">Frank Zhao</h4>
             I'm a Electrical Engineering student at the University of Waterloo. I spend my spare time designing and making things.
             <div class="mt10"> 
             <a class="btn btn-default btn-xs mr10" target="_blank" disabled="disabled">Interview</a>
			 <a class="btn btn-primary btn-xs mr10" href="http://frank.circleofcurrent.com/" target="_blank">Visit My Website</a>
			 <a class="btn btn-info btn-xs" href="http://www.seeedstudio.com/depot/Frank-Zhao-m-12.html" target="_blank">View My Design</a>
            </div>
        </div>
    </div>   
    <div class="media row">
        <span class="col-md-2"><img src="http://www.sd.com/img/Jack_Gassett.jpg" alt="Jack Gassett" class="img-responsive"></span>
        <div class="media-body">
            <h4 class="media-heading">Jack Gassett</h4>
             Self taught electronics hacker and Open Source Hardware designer. Degree in Sociology but true passion is for technology. Co-designer of the Open Bench Logic Sniffer and creator of the Papilio FPGA boards.
             <div class="mt10">
             <a class="btn btn-default btn-xs mr10" target="_blank" disabled="disabled">Interview</a>
			 <a class="btn btn-primary btn-xs mr10" href="http://www.GadgetFactory.net" target="_blank">Visit My Website</a>
			 <a class="btn btn-info btn-xs" href="http://www.seeedstudio.com/depot/Gadget-Factory-m-29.html" target="_blank">View My Design</a>
            </div>
        </div>
    </div>
    <div class="media row">
        <span class="col-md-2"><img src="http://www.sd.com/img/LeafLabs.gif" alt="LeafLabs" class="img-responsive"></span>
        <div class="media-body">
            <h4 class="media-heading">LeafLabs</h4>
             LeafLabs makes open electronics for the masses. We're dedicated to making the latest tools in computer science and electrical engineering accessible to all engineers, regardless of budget or specialized training.
            Based out of Cambridge(USA), LeafLabs develops hardware-software platforms for rapidly prototyping with embedded and re-configurable technologies. Our hardware designs and software source are available under open licenses - see our <a href="http://github.com/leaflabs"><span style="color:#007ebd">GitHub page</span></a> for more details
             <div class="mt10">
             <a class="btn btn-default btn-xs mr10" target="_blank" disabled="disabled">Interview</a>
			 <a class="btn btn-primary btn-xs mr10" href="http://leaflabs.com" target="_blank">Visit My Website</a>
			 <a class="btn btn-info btn-xs" href="http://www.seeedstudio.com/depot/LeafLabs-m-13.html" target="_blank">View My Design</a>
            </div>
        </div>
    </div>
    <div class="media row">
        <span class="col-md-2"><img src="http://www.sd.com/img/Adriaan.jpg" alt="Adriaan" class="img-responsive"></span>
        <div class="media-body">
            <h4 class="media-heading">Adriaan</h4>
             Mild mannered systems developer by day, electronics hacker, tinkerer, maker by night.
             <div class="mt10">
             <a class="btn btn-default btn-xs mr10" target="_blank" disabled="disabled">Interview</a>
			 <a class="btn btn-primary btn-xs mr10" href="http://www.renbotics.com/" target="_blank">Visit My Website</a>
			 <a class="btn btn-info btn-xs" href="http://www.seeedstudio.com/depot/Renbotics-m-10.html" target="_blank">View My Design</a>
            </div>
        </div>
    </div>
    <div class="media row">
        <span class="col-md-2"><img src="http://www.sd.com/img/Ian_Lesnet.jpg" alt="Ian Lesnet" class="img-responsive"></span>
        <div class="media-body">
            <h4 class="media-heading">Ian Lesnet</h4>
             Ian blogged about his hardware hacks at Instructables, then later at DIY Life and Hack a Day. In 2009 he started Dangerous Prototypes and teamed up with Seeed Studio to make copies of his project available to everyone. Ian has a background in design and city planning. <br class="img-responsive">
            Dangerous Prototypes releases a new open source hardware project every month. In 2009 we teamed up with Seeed Studio to make copies of our projects available to everyone. We like to make tools, but also toys and internet-inspired art. Ian Lesnet founded Dangerous Prototypes after years of writing electronics how-tos at Instructables, DIY Life, and Hack a Day.
             <div class="mt10">
             <a class="btn btn-default btn-xs mr10" target="_blank" disabled="disabled">Interview</a>
			 <a class="btn btn-primary btn-xs mr10" href="http://dangerousprototypes.com/" target="_blank">Visit My Website</a>
			 <a class="btn btn-info btn-xs" href="http://www.seeedstudio.com/depot/Dangerous-Prototypes-m-9.html" target="_blank">View My Design</a>
            </div>
        </div>
    </div>
</div><div class="row mt20"><div class="text-center"><a href="http://www.seeedstudio.com/depot/orderinfo.html"><button class="btn btn-primary btn-sm" type="button">Back</button></a></div></div>
</div>              </div>
                </div>
  </div>

  <!-- End of container -->

 <footer class="footer" id="footer"></footer>
   <script src="/js/fnav.js"></script>
    <script>
        $(function(){
            loadIndex();
        });
    </script>
</body></html>
