<!DOCTYPE html>
<html lang="en">
<head id="html-head">
    <meta charset="utf-8">
    <script src="/js/lib/jquery-1.11.3.min.js"></script>
    <script src="/js/base_module.js"></script>
</head>
    <!--header-->
    <header class="header" id="header"></header>

    <!-- item-list 商品列表-->
    <section class="com-width center clear" id="">
        <!--your html-->
    </section>
    
    <!--footer-->
    <footer class="clear" id="footer"></footer>
    
    <!--页面对应js 如果需要
    <script src=""></script>
    -->
    <script>
        ;(function(){
            $(function(){
                //code
            })
        })()
    </script>
</body>
</html>
