<!DOCTYPE html>
<html lang="en">
<head>
    <title>Seeed Studio Bazaar, Boost ideas, Extend the Reach</title>
    <meta name="keywords" content="Arduino, Raspberry Pi, 3D Printers，Seeed distributor, Open hardware">
    <meta name="description" content="Electronic modules for makers to DIY projects. Fusion PCB, Laser-cutting, 3D printing & drop shipping services for makers in prototyping & production at Seeedstudio.com.">
    <script src="/js/lib/jquery-1.11.3.min.js"></script>
    <script src="/js/base_module.js"></script>
</head>

<body> 
    
    <header class="header" id="header"></header>
    
    <!--  breadcrumb 面包屑  -->
    <section id="breadcrumb" class="com-width">
        <a href="index.html" title="">Bazaar</a><span class="breadcrumb__div-line">/</span>
        <!--<a href="" title="">Development Kits</a><span class="breadcrumb__div-line">/</span>
        <a href="" title="">Xadow</a>-->
    </section>
    
    <!--商品属性-->
    <section class="com-width center item-attr clear">
        <ul class="thumb fl rel">
           <!--操作按钮-->
            <!--<span class="js-prev"></span>
            <span class="js-next"></span>-->
            <li><img src="/img/default_pic.png" class="item"></li>
        </ul>
        <div class="fl rel img ml20 j-big-img rel">
            <img src="/img/default_pic.png" alt="" class="big-img">
            <!--优惠标示  待添加-->
            <!--<div class="item-tips tc abs">FREE SHIPPING!</div>-->
        </div>
        <!--如果有阶梯价 则输出类  stair-price-->
        <div class="fl info ml40  rel">
            
            <!--阶梯价-->
            <ul class="stair-price-list c-9b "></ul>
            
            <!-- 优惠
            <div class="discount f14 c-9b">Buy $100 get $10 off, until 20th January <i class="fa fa-angle-down"></i></div>
            -->
            
            <div class="option-view f12 clear">
             <!--QUANTITY-->
              <div class="fl">
                  <span class="tit c-10 f-os-sb dis-block">QUANTITY:</span>
                  <input type="text" value="1" maxlength="5" class="quantity js-quantity com-input f16 com-input f-dp-m">
                  <!--<div class="warning">Can not be empty</div>-->
              </div>
              <!--style-->
              <div class="fl ml20 option-view-style hide">
                  <span class="tit c-10 f-os-sb dis-block">STYLE:</span>
                  <select type="text" value="" class="style js-style com-input f16 f-dp-m">
                  </select>
                  <!--<div class="warning">please select a size</div>-->
              </div>
              <!--有库存-->
              <div class="stock js-stock-text c-9b f-os-sb ml20 fl rel"></div>
              <!--无库存-->
              <div class="fl out-stock f-os-sb ml20 rel hide">
                  
              </div>
            </div>
            
            <!--per-order-->
            <!--<a href="javascript:void(0);" class="btn btn-default">PER-ORDER</a>
            <a href="" class="btn btn-confirm js-add-cart ml20">ADD TO CART</a>-->
            <!--add to cart-->
            
            <!--in stock-->
            <!--<a href="" class="btn btn-confirm js-add-cart ml20">ADD TO CART</a>-->
            
            <!--in stock-->
            <!--<a href="" class="btn btn-confirm js-add-cart ml20">ADD TO CART</a>-->
            
            <!--update-->
<!--            <a href="" class="btn btn-default w280px">VIEW UPGRADED PRODUCT</a>-->
        </div>
        
    </section>
    
    <!--item detail 商品详情 edit by pc 2016-01-10 -->
    <section class="item-detail com-width center clear rel" id="item-detail">
        <!--左边栏-->
        <div class="content fl">
           <!--组合购买-->
            <!--
            <div class="comb-list pt40">
                <ul class="comb-product clear">
                    <li class="item">
                        <a href="" title="" target="_blank" class="">
                            <img src="../img/demo_img01.png" alt="">
                            <div class="name">Xadow Duino Title if Long Enough</div>
                            <div class="price c-0d f12">$80.00</div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="" title="" target="_blank" class="">
                            <img src="../img/demo_img02.png" alt="">
                            <div class="name">Xadow Duino Title if Long Enough</div>
                            <div class="price c-0d f12">$80.00</div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="" title="" target="_blank" class="">
                            <img src="../img/demo_img03.png" alt="">
                            <div class="name">Xadow Duino Title if Long Enough</div>
                            <div class="price c-0d f12">$80.00</div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="" title="" target="_blank" class="">
                            <img src="../img/demo_img03.png" alt="">
                            <div class="name">Xadow Duino Title if Long Enough</div>
                            <div class="price c-0d f12">$80.00</div>
                        </a>
                    </li>
                    <li class="fl ico-eq mr40">=</li>
                    <li class="comb-product-total f-dp-m fl tc">
                        <span class="total f16 c-d0">$80.00</span>
                        <span class="f12">(SAVE 15%)</span>
                        <a href="#" class="btn btn-confirm js-comb-product">ADD TO CART</a>
                    </li>
                </ul>
                <div class="show-all-comb rel">
                    <a href="" class="btn btn-light center js-show-all-comb">SEE ALL COMBINATIONS</a>
                </div>
            </div>
            -->
            <!--正文内容-->
            <div class="description" id="description">
                <div class="block">
                    <h3 class="title">DESCRIPTION</h3> 
                    <div class="des-con"></div>
                </div>
            </div>   
            
        </div>
        <!--右边栏-->
        <div class="side fr">
           <!--推荐-->
            <div class="recommend hide">
                <div class="title f-os-sb c-10 f12 pl20">You Might Also Need</div>
            </div>
            
            <!--fixed 快捷操作-->
            <div class="quick-bar hide">
                <!--<a href="" class="btn btn-default mt40">PER-ORDER</a>
                <a href="" class="btn btn-confirm js-add-cart mt10">ADD TO CART</a>-->
            </div>
        </div>
    </section>
    
    <div class="image-show">
        <!--<a href="#" class="arr-left abs arr"><i class="fa fa-angle-left"></i></a>
        <a href="#" class="arr-right abs arr"><i class="fa fa-angle-right"></i></a>-->
        <img src="../img/demo_img01.png" alt="" class="image">
    </div>
    
    <!-- item-detail 商品详情-->
    <footer class="clear" id="footer"></footer>
    
    <script src="/js/item_detail.js"></script>
    <script> 
        $(function(){
            getItemDetail();
        });
        
    </script>
</body>
</html>
