<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Fusion</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="raspberry pi, arduino, esp8266, iot, open resource ">
    <meta name="description" content="Seeed is back! We offer great deal and better service to help">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body id="">
    <div class="header">
        <div class="c-width center header-body clear">
            <a href="http://www.seeedstudio.com/" class="fl dis-block" title="Seeed Studio Bazaar, Boost ideas, Extend the Reach" target="_blank">
                <img src="img/logo.png" alt="Seeed Studio Bazaar, Boost ideas, Extend the Reach" class="seeed-logo rel">
            </a>
        </div>
    </div>
   <div class="addthis_sharing_toolbox mb10 sns-share"></div>
    
    <div class="wrap center c-width rel">
         
        <div class="f-nav f16 js-load-nav"></div>
        
        <div class="center c-width f-banner rel">
            <img src="img/fusion_new/banner.jpg" alt="Open-resource-hardware-for-engineers">
        </div>
        <div class="c-width clear coupon">
            <ul class="coupon-code mico c-4e clear">
                <li class="mr110 js-c-code cup">
                    <div class="fl price b">$5</div>
                    <div class="fl off"><span class="f40 b">OFF</span><br/>Each Order</div>
                    <div class="fr tc">
                        <div class="code">5seeedisback</div>
                        <div class="code-tag mico"></div>
                    </div>
                </li>
                <li class="js-c-code cup">
                    <div class="fl price b">$20</div>
                    <div class="fl off"><span class="f40 b">OFF</span><br/>Orders Over $150</div>
                    <div class="fr tc">
                        <div class="code">20seeedisback</div>
                        <div class="code-tag mico"></div>
                    </div>
                </li>
                <li class="mr110 js-c-code cup">
                    <div class="fl price b">$50</div>
                    <div class="fl off"><span class="f40 b">OFF</span><br/>Orders Over $250</div>
                    <div class="fr tc">
                        <div class="code">50seeedisback</div>
                        <div class="code-tag mico"></div>
                    </div>
                </li>
                <li class="rel js-c-code cup">
                    <div class="fl price b">$100</div>
                    <div class="fl off"><span class="f40 b">OFF</span><br/>Orders Over $350</div>
                    <div class="fr tc abs r0">
                        <div class="code">100seeedisback</div>
                        <div class="code-tag mico"></div>
                    </div>
                </li>
            </ul>
        </div>
        
        <div class="nf-block-1 rel">
            <div class="abs txt-1">
                <h1 class="f37"><span class="c-ff">Special Deal</span> <span class="c-cb">for PCBA Service</span></h1>
                <div class="f-tag abs"></div>
                <ul class="f26 b">
                    <li><a href="http://www.seeedstudio.com/service/index.php?r=pcb" title="Free PCB">Free PCB</a> </li>
                    <li><a href="http://www.seeedstudio.com/service/index.php?r=pcb" title="Free Soldering">Free Soldering</a></li>
                </ul>
            </div>
            <div class="abs txt-2">
               <a href="http://www.seeedstudio.com/depot/index.php?main_page=become_a_distributor#FusionDistributor" title="Become Fusion">
                    <h1 class="f37"><span class="c-cb">Become Fusion</span> <span class="c-ff">Distributor</span></h1>
                    <ul class="f26 b">
                        <li>Quarterly Reward</li>
                        <li>$<span class="c-f4">0</span> Stock</li>
                    </ul>
                </a>
            </div>
        </div>
        <div class="center c-width f-block-2 fusion-service rel">
           <div class="type abs clear">
               <a href="http://www.seeedstudio.com/service/index.php?r=pcb" class="item" title="Fusion PCB" target="_blank">
                   <div class="name">Fusion PCB</div>
                   <div class="dis">
                       <div class="c-ff f26 b">$4.9 for 10 pcs</div>
                       <ul style="margin-left: -40px;">
                           <li>1-4 layers PCB</li>
                           <li>Upload Gerber file</li>
                           <li>to get instant quote</li>
                           <li>ship in 4-6 days</li>
                       </ul>
                   </div>
               </a>
               <a href=" http://www.seeedstudio.com/service/index.php?r=pcb" class="item item-2" title="Fusion PCB Assembly（special deal）" target="_blank">
                   <div class="name" style="padding-top: 10px; height: 70px;">Fusion PCB<br/>Assembly</div>
                   <div class="dis">
                      <div class="clear f14">
                          <div class="fl tag mr10 rel"></div>
                          <div class="c-ff">Free PCB</div>
                          <div class="c-ff">Free Soldering</div>
                      </div>
                       1 to 100 pcs PCB Assembly Service.  Instant quote.  Lead time 1-30 days
                   </div>
               </a>
               <a href="http://www.seeedstudio.com/service/index.php?r=fpcb" class="item" title="Flexible PCB" target="_blank">
                   <div class="name">Flexible PCB </div>
                   <div class="dis">
                       <div class="c-ff f26 b mb10">Up to $100 off</div>
                        1 layer to 2 layers.  MOQ: 5 pieces  Ship in 7 days
                   </div>
               </a>
               <a href="   http://www.seeedstudio.com/service/index.php?r=stencil" class="item" title="Stencil Service" target="_blank">
                   <div class="name">Stencil Service</div>
                   <div class="dis">
                       <div class="c-ff f26 b mb10">$14.9 for 28*38cm
frameless</div>
                        Instant quote <br> Lead time 3 days
                   </div>
               </a>
           </div>
       </div> 
       <div class="nf-block-2 center clear">
           <a href="http://www.seeedstudio.com/service/" class="fl">
               <img src="img/fusion_new/footer_banner.jpg" alt="">
           </a>
           <div class="fr content">
               <h2 class="c-ff">Prize:</h2>
               <a href="http://www.seeedstudio.com/service/index.php?r=pcb" class="txt">
                   <i class="fl"></i>
                   <span class="fl price b">$200</span>
                   <span class="fl dis">Coupon for Seeed <br> Manufactuing Service.</span>
               </a>
               <a href="http://www.seeedstudio.com/propagate/" class="txt">
                   <i class="fl"></i>
                   <span class="fl price b">Free</span>
                   <span class="fl dis">PREMIUM DFM Service.</span>
               </a>
               <a href="http://www.seeedstudio.com/depot/SeeedStudio-BeagleBone-Green-p-2504.html" class="txt">
                   <i class="fl"></i>
                   <span class="fl price b">$39</span>
                   <span class="fl dis">SeeedStudio <br> BeagleBone Green</span>
               </a>
           </div>
       </div>
    </div>
    <div class="footer-outer w100p">
       <div class="center c-width footer tc">
           <div class="rel center bottom-arr ico"></div>
           <div class="mail-sub">    
               <form action="//seeed.us11.list-manage.com/subscribe/post?u=0c272aa6642cc5d058579205f&amp;id=ceed8f5b4e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                   <i class="ico mail-ico inline-block rel"></i>
                   <input type="email" value="" name="EMAIL" class="email f14 mail-input" id="mce-EMAIL" placeholder="Subscribe the event update" required>
                   <input type="text" name="b_0c272aa6642cc5d058579205f_ceed8f5b4e" tabindex="-1" value="" class="hide">
                   <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button main-sub">
               </form>
            </div>
            Copyright © 2008-2016 Seeed Development Limited All rights reserved.
       </div>
   </div>
   <input type="hidden" class="fusion-page" value="1">
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        (function(){
            $(function(){
                fpage();
                //获取周闪购数据
                /*$.get('main_flash_deal.json', function(json){
                    var str = '';
                    console.log(json);
                    $(json).each(function(){
                        str += '<div class="item-detail sku-'+this.sku+' rel"><a href="'+this.href+'" title="'+this.name+'"><div class="item-off mico abs"><div class="txt b">'+Math.round(this.discount*100)+'%OFF</div></div><img data-original="http://www.seeedstudio.com/depot/images/'+this.products_image+'" class=item-img><div class="item-info c-4e clear"><div class="title fl f18">'+this.products_name+'</div><div class="price b fr"><div class=discount>$'+this.sale_price+'</div><div>$'+this.flash_price+'</div></div></div></a><a class="tc item-buy-now" data-id="'+this.sku+'">BUY NOW<i class="mico ico-cart"></i></a></div>';
                    });
                    console.log(str)
                });*/
//                
//                //获取热销数据
                /*$.get('Processors.json', function(json){
                    console.log(json);
                    var str2 = '',
                        style = '';
                    $(json).each(function(e){
                        (e+1)%4 == 0?style = 'style="margin:0;"':style ='';
                        str2 += '<div class="item-detail sku-'+this.sku+' rel" '+style+'><a href="'+this.href+'" title="'+this.name+'"><div class="item-img-box"><img data-original="http://www.seeedstudio.com/depot/images/'+this.products_image+'" class=item-img></div><div class="item-info c-4e clear"><div class="title fl f18">'+this.products_name+'</div><div class="price b fr"><div>$'+ parseFloat(this.product_price).toFixed(2)+'</div></div></div></a><a class="tc item-buy-now" data-id="'+this.sku+'">BUY NOW<i class="mico ico-cart"></i></a></div>';
                    });
                    console.log(str2);
                });*/
                
                /*$.get('WiFi_Wireless.json', function(json){
                    console.log(json);
                    var str2 = '',
                        style = '';
                    $(json).each(function(e){
                        (e+1)%4 == 0?style = 'style="margin:0;"':style ='';
                        str2 += '<div class="item-detail sku-'+this.sku+' rel" '+style+'><a href="'+this.href+'" title="'+this.name+'"><div class="item-img-box"><img data-original="http://www.seeedstudio.com/depot/images/'+this.products_image+'" class=item-img></div><div class="item-info c-4e clear"><div class="title fl f18">'+this.products_name+'</div><div class="price b fr"><div>$'+ parseFloat(this.product_price).toFixed(2)+'</div></div></div></a><a class="tc item-buy-now" data-id="'+this.sku+'">BUY NOW<i class="mico ico-cart"></i></a></div>';
                    });
                    console.log(str2);
                });*/
                
            });
        })()
    </script>
</body>
</html>
