<a href="https://www.seeedstudio.com/depot/category_products?terms_name=Arduino_Seeeday&utm_source=seedlp&utm_medium=text&utm_campaign=seeedback" class="item rel" title="" target="">
            <i class="mico item-1"></i>
            <h2 class="abs sp">Arduino&Seeeduino</h2>
        </a>
        <a href="https://www.seeedstudio.com/depot/category_products?terms_name=Raspberrypi_Seeeday&utm_source=seedlp&utm_medium=text&utm_campaign=seeedback" class="item" title="" target="">
            <i class="mico item-2"></i>
            <h2>Raspberry Pi</h2>
        </a>
        <a href="https://www.seeedstudio.com/depot/category_products?terms_name=Linkitone_Seeeday&utm_source=seedlp&utm_medium=text&utm_campaign=seeedback" class="item" title="" target="">
            <i class="mico item-3"></i>
            <h2>LinkIt IOE</h2>
        </a>
        <a href="https://www.seeedstudio.com/depot/category_products?terms_name=Beaglebone_Seeeday&utm_source=seedlp&utm_medium=text&utm_campaign=seeedback" class="item" title="" target="">
            <i class="mico item-4"></i>
            <h2>BeagleBone</h2>
        </a>
        <a href="https://www.seeedstudio.com/depot/category_products?terms_name=Grove_Seeeday&utm_source=seedlp&utm_medium=text&utm_campaign=seeedback" class="item" title="" target="">
            <i class="mico item-5"></i>
            <h2>Grove</h2>
        </a>
        <a href="https://www.seeedstudio.com/depot/category_products?terms_name=Shield_Seeeday&utm_source=seedlp&utm_medium=text&utm_campaign=seeedback" class="item" title="" target="">
            <i class="mico item-6"></i>
            <h2>Shield</h2>
        </a>
        <a href="https://www.seeedstudio.com/depot/category_products?terms_name=Wearables_Seeeday&utm_source=seedlp&utm_medium=text&utm_campaign=seeedback" class="item" title="" target="">
            <i class="mico item-7"></i>
            <h2>Wearables</h2>
        </a>
        <a href="https://www.seeedstudio.com/depot/category_products?terms_name=Starterkit_Seeeday&utm_source=seedlp&utm_medium=text&utm_campaign=seeedback" class="item" title="" target="">
            <i class="mico item-8"></i>
            <h2>Starter Kit</h2>
        </a>
        <a href="https://www.seeedstudio.com/depot/category_products?terms_name=RF%20explorer_Seeeday&utm_source=seedlp&utm_medium=text&utm_campaign=seeedback" class="item" title="" target="">
            <i class="mico item-9"></i>
            <h2>RF Explorer</h2>
        </a>
        <a href="https://www.seeedstudio.com/depot/Maker-Pro-t-1672.html?ref=pinfo&utm_source=seedlp&utm_medium=text&utm_campaign=seeedback" class="item" title="" target="">
           <i class="mico item-10"></i>
            <h2>Maker Pro</h2>
        </a>
        <a href="https://www.seeedstudio.com/depot/category_products?terms_name=Mbed_Seeeday&utm_source=seedlp&utm_medium=text&utm_campaign=seeedback" class="item" title="" target="">
            <i class="mico item-11"></i>
            <h2>Mbed</h2>
        </a>
        <a href="https://www.seeedstudio.com/depot/Shenzhen-2U-t-11.html?ref=pinfo&utm_source=seedlp&utm_medium=text&utm_campaign=seeedback" class="item" title="" target="">
            <i class="mico item-12"></i>
            <h2>Shenzhen2U</h2>
        </a>