
<div class="footer__tips--outer">
   <div class="com-width center footer__tips f14">
     <a href="https://www.seeedstudio.com/shipinfo.html" class="item"><span class="ico ico-1"></span>SHIPPING INFORMATION </a>
     <a href="http://support.seeedstudio.com/knowledgebase" class="item item-center"><span class="ico ico-2"></span>HELP CENTER</a>
     <a href="http://support.seeedstudio.com/" class="item"><span class="ico ico-3"></span>CONTACT US</a>
   </div>
</div>
<div class="footer--info com-width center f12 c-9e">
    <div class="block">
        <ul>
            <li class="title">Seeed Info</li>
            <li><a href="about_us.html" title="Reach Us">Reach Us</a></li>
            <li><a href="distributors.html" title="Distributors">Distributors</a></li>
            <li><a href="designers.html" title="Designers">Designers</a></li>
            <li><a href="http://www.seeedstudio.com.cn/hr/" title="Careers" target="_blank">Careers</a></li>
        </ul>
    </div>
    <div class="block">
        <ul>
            <li class="title">Contact Us</li>
            <li><a href="http://support.seeedstudio.com/" title="Customer Service">Customer Service</a></li>
            <li><a href="support.html" title="Technical Support">Technical Support</a></li>
        </ul>
    </div>
    <div class="block">
        <ul>
            <li class="title">Terms of Use</li>
            <li><a href="orderinfo.html" title="">Order Information</a></li>
            <li><a href="shipinfo.html" title="">Shipping Information</a></li>
            <li><a href="paymentinfo.html" title="">Payment Information</a></li>
            <li><a href="warranty.html" title="">Warranty and Return</a></li>
        </ul>
    </div>
    <div class="block search">
        <ul>
            <li class="title">Stay Tuned</li>
            <li class="sign clear">
                <input type="text" class="sign-input fl" name="" placeholder="    Your Email Here">
                <span class="btn-sign btn bg-4a tc fl">SIGN UP</span>
            </li>
            <li class="title">Follow Us On</li>
            <li class="social f18">
                <a href="http://plus.google.com/+Seeedstudio-openhardware" target="_blank" title="" class="sns__ico sns--google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="http://instagram.com/seeedstudio" title="" target="_blank" class="sns__ico sns--instagram"><i class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/seeedstudiosz/" target="_blank" title="" class="sns__ico sns--facebook"><i class="fa fa-facebook"></i></a>
                <a href="http://twitter.com/seeedstudio" title="" target="_blank" class="sns__ico sns--twitter"><i class="fa fa-twitter"></i></a>
            </li>
        </ul>
    </div>
</div>
<div class="footer--copyright f12 com-width center tr">
    Copyright ©2008-2015 Seeed Development All rights reserved
</div>