<!-- <div class="feedback w100p f12 tc" style="line-height:30px; background-color:#FDF8E5;">
	Dear User, you are visiting our new bazaar. It's still at beta stage and there might be a couple bugs. If you encounter any problems, please do let us help at  <a href="mailto:service@seeed.cc" class="underline">service@seeed.cc</a> <!<a href="mailto:guiyuan.zhang@seeed.cc" class="underline">guiyuan.zhang@seeed.cc</a> or <a href="mailto:gloria.wu@seeed.cc" class="underline">gloria.wu@seeed.cc</a>. Sorry for any inconvenience. 
</div> -->
    <div class="w100p nav-shadow">
   <nav class="main-nav com-width center clear c-10 rel">
        <a href="index.html" title="seeed" class="logo fl"><img src="/img/logo.png" alt=""></a>
        <div class="user-act">
            <a href="https://www.seeedstudio.com" class="item fl" title="Bazaar" target="_self">Bazaar</a>
            <div class="nav-layer rel">
                <a href="javascript:void(0);" class="item fl j-shadaw rel">Fusion
                    <span class="op-layer"></span>
                </a>
                <ul class="child-nav list-1">
                    <li><a href="fusion_pcb.html"  title="Fusion PCB/PCBA" target="_self">Fusion PCB/PCBA</a></li>
                    <li><a href="http://www.seeedstudio.com/service/index.php?r=fpcb"  title="Flexible PCB" target="_self">Flexible PCB</a></li>
                    <li><a href="http://www.seeedstudio.com/service/index.php?r=st/stencil" title="PCB Stencil Service" target="_self">PCB Stencil Service</a></li>
                    <li><a href="http://www.seeedstudio.com/service/index.php?r=badge" title="Electronic Badge" target="_self">Electronic Badge</a></li>
                    <li><a href="http://www.seeedstudio.com/service/index.php?r=st/lasercutting" title="Laser Cutting Service" target="_self">Laser Cutting Service</a></li>
                    <li><a href="http://www.seeedstudio.com/service/index.php?r=st/3d" title="3D Printing" target="_self">3D Printing</a></li>
                    <li><a href="http://www.seeedstudio.com/service/index.php?r=cnc"  title="CNC Milling" target="_self">CNC Milling</a></li>
                    <li><a href="http://support.seeedstudio.com/knowledgebase/topics/62840-fusion-specification" title="Specification" target="_self">Specification</a></li>
                    <li><a href="http://www.seeedstudio.com/service/index.php?r=SharedGerber" title="Fusion Gallerynew" target="_self">Fusion Gallery</a></li>
                    <li><a href="http://www.seeedstudio.com/depot/index.php?main_page=become_a_distributor#Fusion"></a></li>
                    <li><a href="http://www.seeedstudio.com/service/index.php?r=site/faq" title="FAQ" target="_self">FAQ</a></li>
                    <li><a href="http://www.seeedstudio.com/depot/index.php?main_page=become_a_distributor#FusionDistributor" title="FAQ" target="_self">Become a Fusion Distributor</a></li>
                </ul>
            </div>
            <a href="http://www.seeedstudio.com/propagate/" class="item fl" title="Propogate" target="_self">Propagate</a>
            <div class="nav-layer rel">
                <a href="http://www.seeed.cc/" class="item fl rel" >Community
                    <span class="op-layer"></span>
                </a>
                <ul class="child-nav list-2">
                    <li><a href="http://www.seeedstudio.com/blog" title="Blog" target="_self">Blog</a></li>
                    <li><a href="http://www.seeedstudio.com/forum/"  title="Forum" target="_self">Forum</a></li>
                    <li><a href="http://www.seeedstudio.com/recipe"  title="Recipe" target="_self">Recipe</a></li>
                </ul>
            </div>
            <a href="http://www.seeedstudio.com/wiki" class="item fl" title="Propogate" target="_self">Wiki</a>
       </div>
       <div class="user js-user-bar fr f12 rel clear">
        </div>
    </nav>
</div>

<!--bazraa导航 start-->
<div class="w100p shop-nav-outer js-shop-nav">
    <div class="shop-nav-bar com-width center clear">
      <!--nav start-->
       <div class="shop-nav fl rel js-nav">
           <div class="title bg-69 c-ff cup">Category
<!--               <i class="fr fa fa-angle-up"></i>-->
           </div>
           <!--nav-->
           <ul class="shop-nav-list f14 abs bg-80 js-nav-list">
           </ul>
           <!--新内容块 start @2016-04-01 完成-->
           <!--
           <div class="nav-item-content abs js-nav-item clear f14" style="display:block; z-index:9999;">
               <div class="fl nav-child-link">
                    <div class="link-block clear">
                        <a href="" class="sec-link fl">Sensor<i class="fa fa-angle-right"></i></a>
                        <div class="thr-link-block fl">
                            <a href="" class="thr-link">Sensor</a>
                            <a href="" class="thr-link">Sensor</a>
                            <a href="" class="thr-link">Sensor</a>
                            <a href="" class="thr-link">Sensor</a>
                            <a href="" class="thr-link">Sensor</a>
                            <a href="" class="thr-link">Sensor</a>
                            <a href="" class="thr-link">Sensor</a>
                            <a href="" class="thr-link">Sensor</a>
                            <a href="" class="thr-link">Sensor</a>
                            <a href="" class="thr-link">Sensor</a>
                            <a href="" class="thr-link">Sensor</a>
                            <a href="" class="thr-link">Sensor</a>
                            <a href="" class="thr-link">Sensor</a>
                            <a href="" class="thr-link">Sensor</a>
                            <a href="" class="thr-link">Sensor</a>
                            <a href="" class="thr-link">Sensor</a>
                            <a href="" class="thr-link">Sensor</a>
                        </div>
                        
                    </div>
               </div>
               <div class="fl nav-child-rels">
                   <a href="" class="item">
                       <img src="../img/index_data/top_picks/top3.jpg" alt="">
                   </a>
                   <a href="" class="item">
                       <img src="../img/index_data/top_picks/top3.jpg" alt="">
                   </a>
               </div>
           </div>
           -->
           <!--新内容块 end-->
       </div>
       <!--nav end-->
       <!--搜索 start -->
       <div class="search-bar fl rel">
            <input type="text" class="c-9b search-input pl20" id="g-search" placeholder="Sensor" value="Sensor">
            <a href="#" class="btn-search js-btn-search"><i class="fa fa-search c-9b"></i></a>
            <!--搜索结果-->
            <ul class="search-result abs f14"></ul>
       </div>
       <!--搜索 end-->
       
       <!--user voice start-->
       <span class="pull-right f12">
            <a href="http://support.seeedstudio.com/" target="_blank">Feedback & Ideas</a> ｜ 
            <a href="http://support.seeedstudio.com/knowledgebase" target="_blank">Help</a> 
       </span>
       
       <!--user voice end-->
       
       <!--购物车 start-->
<!--
       <div class="cart-action fr f14">
           <span class="btn-cart bg-80 c-ff mr10"><i class="fa fa-shopping-cart mr10 f18"></i><span class="js-cart-count"></span></span>
           <a href="cart_detail.html" class="">Checkout&nbsp;&gt;&gt;</a>
       </div>
-->
       <!--购物车end-->
    </div>
</div>
<!--bazraa导航 end-->


