<!--商店二级导航-->

    <div class="second-nav center com-width clear f12 tc">
        <a href="item_list.html?category=72" class="item" target="_self"><i class="sn-ico sn-01"></i>SENSORS</a>
        <!--<a href="http://www.seeedstudio.com/recipe/" class="item" target="_self"><i class="sn-ico sn-02"></i>SEPARE</a>-->
        <a href="item_list.html?category=56" class="item" target="_self"><i class="sn-ico sn-03"></i>ROBOTICS</a>
        <a href="item_list.html?category=61" class="item" target="_self"><i class="sn-ico sn-04"></i>INTERACTION</a>
        <a href="item_list.html?category=68" class="item" target="_self"><i class="sn-ico sn-05"></i>WIRELESS</a>
        <a href="item_list.html?category=52" class="item" target="_self"><i class="sn-ico sn-06"></i>WEARABLE</a>
        <a href="item_list.html" class="item" target="_self"><i class="sn-ico sn-07"></i>ESSENTIALS</a>
        <a href="item_list.html" class="item c-4a" target="_self">DISTRIBUTORS</a>
        <a href="item_list.html" class="item" target="_self">SALE</a>
    </div>
</section>