<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Free Express Shipping on All Pi Orders Over $150</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="raspberry pi, arduino, esp8266, iot, open resource ">
    <meta name="description" content="Seeed is back! We offer great deal and better service to help">
    <link rel="stylesheet" href="/view/event/css/public.css">
    <link rel="stylesheet" href="/view/event/css/main.css">
</head>

<body id="bramble">
    <div class="header">
        <div class="c-width center header-body clear">
            <a href="http://www.seeedstudio.com/" class="fl dis-block" title="Seeed Studio Bazaar, Boost ideas, Extend the Reach" target="_blank">
                <img src="/view/event/img/logo.png" alt="Seeed Studio Bazaar, Boost ideas, Extend the Reach" class="seeed-logo rel">
            </a>
        </div>
    </div>
   <div class="addthis_sharing_toolbox mb10 sns-share"></div>
    
         
        <div class="f16"></div>
        <div class="center bmb_banner activity_banner">
          
           <div class="c-width bmb_box">
           
            <div class="visit_wrap">
              <span class="visit_btn"><a href="http://bazaar.seeedstudio.com/"><img src="/view/event/img/visit_btn.png"></a></span>
             
             </div>
            </div>
        </div></a>
      
      <div class="act_img1" id="pikits"></div>
      <div class="act_img2" id="screens"></div>

    <div class="w100p act_footer">
       <div class="center c-width footer activity_foot">
       <div class="foot_wrap">  
               <a href="http://www.seeedstudio.com/"><span >GO NOW</span></a>
      </div>

           
       </div>
   </div>
   <input type="hidden" class="fusion-page" value="1">
    <script src="/view/event/js/jquery-1.11.3.min.js"></script>
    <script src="/view/event/js/main.js"></script>


</body>
</html>
