<div class="faq ico fixed js-faq"></div>
<!--       small-faq-content-->
<div class="faq-content fixed center js-faq-content">
  <div class="js-small-box">
       <a href="#" class="js-close btn-faq-close dis-block abs"></a>
       <div class="faq-tab   clear js-tab">
            <a href="#" class="selected fl">Rules</a>
            <a href="#" class="fl">FAQ</a>
       </div>
       <div class="faq-tab-box js-tab-box mt20">
           <h3>Who?</h3>
           <p>Only customers who place <span class="b">retail</span> orders on bazaar during promotion period (Not including OPL products and some special products).</p>
           <h3>How?</h3>
           <p>(1)<span class="b">Save on Each Order:</span> There are 4 kinds of coupons such as <span class="b">$5 off on each order, $20 off orders over $150, $50 off orders over $250 or $100 off orders over $350</span>. Which type of coupon you can use depends on how much your order amount is (Excluding the total amount of products on flash deals or clearance deals).</p>
           <p>(2)<span class="b">Flash Deals</span>: we offer 4 rounds of flash deals on hot sellers, Pi Day, tools and Arduino Day.</p>
           <p>(3)<span class="b">Clearance</span>: We offer up to <span class="b">90% OFF</span>.</p>
           <p>(4)<a href="fusion.html" class="b">Special Deal for Fusion Prototyping Service</a></p>
           <h3>Promotion Period:</h3>
           <p>Mar 1st ~ Mar 31st, 2016 EST</p>
           <p><span class="b">About $5 OFF, $20 OFF, $50 OFF or $100 OFF coupon</span></p>
           <ul class="ul-disc">
               <li>Each coupon can only be used for one order per one time and it will expire on Mar 31st, 2016(EST)</li>
               <li>Each coupon will not be applied to products on <a href="http://www.seeedstudio.com/depot/event/better-service-for-maker.html?utm_source=seedlp&utm_medium=ruletext&utm_campaign=seeedback" target="_blank">Flash Deals</a>, <a href="http://www.seeedstudio.com/depot/Clearance-c-96.html?utm_source=seedlp&utm_medium=clearancetext&utm_campaign=seeedback" target="_blank">Clearance Deals</a>, <a href="http://www.seeedstudio.com/depot/OPLopen-parts-library-catalog-c-136_138/?utm_source=seedlp&utm_medium=clearancetext&utm_campaign=seeedback" target="_blank">OPL</a> and special products.</li>
               <li>Discounts can not be used in conjunction with each other.</li>
           </ul>
           <p></p>
           <p></p>
           <h3>Disclaimer:</h3>
           <p>1. Distributors are not allowed to participate in this campaign.</p>
           <p>2. SeeedStudio reserves the rights to the final interpretation of rules. And for any question or complaint, please contact us by email <a href="mailto:event@seeed.cc?subject=Regarding Promotion Seeed is back">event@seeed.cc</a>.</p>
       </div>
       <div class="faq-tab-box js-tab-box hide">
           <p class="b">1. There are some products on Flash deals or Clearances deals included in my order. Can I still enjoy the “Save on Each Order” discount for those products?</p> 
           <p>No. we will minus the total amount of those products first and then calculate how much your final order amount is suitable for the “Save on Each Order” discount.</p> 
           <p class="b mt30">2. How do I know if some products are available for the “Save on Each Order” promotion or not?</p> 
           <p>Only products on “Flash deals” page, “Clearance” page, "OPL" page and some special are not available for the “Save on Each order” promotion.</p> 
           <p class="b mt40">3. How can I use the coupon for saving money on my order?</p> 
           <p>All coupons will show on our <a href="http://www.seeedstudio.com/depot/event/better-service-for-maker.html?utm_source=seedlp&utm_medium=ruletext&utm_campaign=seeedback" target="_blank">promotion page</a> or checkout page. You can just follow tips to paste proper coupon in your checkout page.</p> 
           <p class="b mt30">4. If I have missed a great deal on the past flash deals page, can I enjoy the same discount?</p> 
           <p>Sorry, you could not. We would like to recommend you to subscribe our newsletter to stay tuned the newest promotion on Seeed.</p> 
           <p class="b mt30">5.What if my parcel is not shipped out within 72 hours, how should I do?</p>
           <p>First of all, fully sorry for your inconvenience. We promise that all parcels can be shipped out within 72 hours. If it can be not such as customs and shipping carrier settlement or something, please contact us by <a href="mailto:order@seeed.cc?subject=Regarding that my order is not shipped out with 72 hrs">order@seeed.cc</a>. We will help you work out on it and also offer you a coupon for your loss. </p>
       </div>
   </div>
</div>