<div class="faq ico fixed js-faq"></div>
<!--       small-faq-content-->
<div class="faq-content fixed center js-faq-content fusion-faq">
  <div class="js-small-box">
       <a href="#" class="js-close btn-faq-close dis-block abs"></a>
       <div class="faq-tab   clear js-tab">
            <a href="#" class="selected fl">Rules</a>
            <a href="#" class="fl">FAQ</a>
       </div>
       <div class="faq-tab-box js-tab-box mt20" style="height: 650px;
    overflow: auto;">
           <h3>Who?</h3>
           <p>All Fusion customers</p>
           <h3>What:</h3>
           <p>1.What are the discounts?  We provide 4 discounts</p>
           <p class="b">$5 off on each order, $20 off orders over $150, $50 off orders over $250 or $100 off orders over $350</p>
           <p>2. What service will be included in the promotion?</p>
           <p>All Fusion services will be included in this promotion, such as <a href="http://www.seeedstudio.com/service/index.php?r=pcb">Fusion PCB</a>, <a href="http://www.seeedstudio.com/service/index.php?r=pcb">Fusion PCB Assembly</a>, <a href="http://www.seeedstudio.com/service/index.php%3Fr=fpcb">Flexible PCB</a>, <a href="http://www.seeedstudio.com/service/index.php?r=stencil">Stencil Service</a> and <a href="http://www.seeedstudio.com/service/index.php?r=lasercutting"Laser cutting Service></a>. </p>
           <p>3.<a href="http://www.seeedstudio.com/service/index.php?r=pcb"> Special deal for Fusion PCB Assembly Service</a></p>
           <p>1) Free PCB</p>
           <p>    If you place a Fusion PCB Assembly order and the PCB will be free if the PCB parameters you choose are </p>
           <p>1-4 layers & size≤10cm×10cm & 0.6mm＜thickness＜1.6mm & Qty≤10 pieces & PCB color: Green & Surface finished: Hasl & Copper Weight: 1oz & Panelized PCB: 1 design on 1 board & No Expedited Option</p>
           <p>2) Free soldering</p>
           <p>    If you place a Fusion PCB Assembly order and you choose Seeed commonly used components <a href="C:\Users\seeed\Desktop\opl.seeed.cc">OPL</a> in your BOM, the soldering fee of these OPL components will be free. Click <a href="http://www.seeedstudio.com/wiki/images/3/32/Seeed_OPL_list_download20140930.zip">here</a> to down the OPL excel list.</p>
           <h3>How?</h3>
           <p> 1.How to use the coupon?</p>
           <p>Paste the coupon code when checkout the shopping cart, the discount will be applied in your order.</p>
           <p>The coupon code are </p>
           
           <table>
               <tr>
                   <th>Coupon Code</th>
                   <th>Discount</th>
                   <th>available for order over</th>
               </tr>
               <tr>
                   <td>5seeedisback</td>
                   <td>$5</td>
                   <td>$0</td>
               </tr>
               <tr>
                   <td>20seeedisback</td>
                   <td>$20</td>
                   <td>$150</td>
               </tr>
               <tr>
                   <td>50seeedisback</td>
                   <td>$50</td>
                   <td>$250</td>
               </tr>
               <tr>
                   <td>100seeedisback</td>
                   <td>$100</td>
                   <td>$350</td>
               </tr>
           </table>
           <p>Period</p>
           <p>Mar 1st 00:00:00 ~ Mar 31st 23:59:59 EST</p>
           <p>Disclaimer</p>
           <p>Seeed reserves the rights to the final interpretation of rules.  And for any question or complaint, please contact <a href="mailto:event@seeed.cc">event@seeed.cc</a>.</p>
           
       </div>
       <div class="faq-tab-box js-tab-box hide">
           <p class="b">1. How to use the coupon for each order.</p> 
           <p>the coupon code are</p>
           <table>
               <tr>
                   <th>Coupon Code</th>
                   <th>Discount</th>
                   <th>available for order over</th>
               </tr>
               <tr>
                   <td>5seeedisback</td>
                   <td>$5</td>
                   <td>$0</td>
               </tr>
               <tr>
                   <td>20seeedisback</td>
                   <td>$20</td>
                   <td>$150</td>
               </tr>
               <tr>
                   <td>50seeedisback</td>
                   <td>$50</td>
                   <td>$250</td>
               </tr>
               <tr>
                   <td>100seeedisback</td>
                   <td>$100</td>
                   <td>$350</td>
               </tr>
           </table>
           <p>Paste the coupon code when checkout the shopping cart, the discount will be applied in your order.</p> 
           
           <p class="b mt30">2.How to place a $4.9 PCB order?</p> 
           <p>Paste 5seeedisback(coupon code) in your $9.9 orders when checkout.  Click <a href="http://www.seeedstudio.com/service/index.php?r=pcb">here</a> to place the order</p> 
           
           <p class="b mt40">3.How to place a free PCB and soldering PCB Assembly order?</p> 
           <p>Our system will detect the PCB parameters you choose and OPL components in your BOM automatically, the discount will be applied when you place the order. Click <a href="http://www.seeedstudio.com/service/index.php?r=pcb">here</a> to place the order.</p> 
           
           <p class="b mt30">4.Can the coupon be used for both Bazaar Product and Fusion</p> 
           <p>--Yes, the coupon is available for both Bazaar and Fusion.</p> 
           
           <p class="b mt30">5.How many times can I use the coupon?</p>
           <p>Please note that 1 order can only use 1 coupon code. But 1 coupon code can be used in all your orders in March.</p>
       </div>
   </div>
</div>