<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, intial-scale=1.0, minimun-scale=1.0, maxmun-scale=1.0, user-scalable=1.0">
    <title>Seeed</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author " content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="../css/lib/reset.css">
    <link rel="stylesheet" href="../fonts/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/lib/public.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
	<!-- 2015-12-05 ver 1.0
    <header class="header--outer" id="header">
        <div class="header--body com-width center clear">
            <a href="" title="" class="fl"><img src="../img/slogo.png" alt="" class="header--body__logo"></a>
            <nav class="header--body__nav fl">
                <a href="" class="item">Home</a>
                <a href="" class="item">Bazrra</a>
                <a href="" class="item">Fusion</a>
                <a href="" class="item">Propagete</a>
                <a href="" class="item">Wiki</a>
                <a href="" class="item height-light">WIO Link</a>
            </nav>
            <div class="header--body__user fr rel f20">
                <a href="" class="name"><i class="ico fa fa-user"></i></a>
                <a href="" class="collect"><i class="ico fa fa-star"></i></a>
                <a href="" class="shopping-car"></a>
            </div>
        </div>
    </header>
    -->
    <header class="header">
        <div class="header__login-ba--outer bg-f6">
            <div class="header__login-bar-body com-width center f12 clear">
               <div class="left-bar fl">
                   <a href="" title="">EN</a>
                   <span class="">|</span>
                   <a href="">$USD</a> 
               </div>
               <div class="user-bar fr">
                   <a href="" title="" class="item">Sign in.</a>
                   <a href="" title="" class="item">My account</a>
                   <a href="" title="" class="item">Wishlist</a>
               </div>
            </div>
        </div>
        <div class="header__search-bar com-width center clear">
            <a href="" title="" class="fl"><img src="../img/logo.png" alt="" class="logo rel"></a>
            <div class="right-bar fr">
               <div class="search-input fl clear rel mr40">
                   <input type="text" value="" class="f12 fl" placeholder="    How Can I Help You">
                <span class="btn search-btn bg-0d cup tc fl"><i class="fa fa-search"></i></span>
               </div>
                <a href="" title="" class="bag fl">Bag</a>
            </div>
        </div>
        <nav class="header__nav--outer bg-0d">
            <div class="header__nav--body com-width center">
                <a href="" class="item">Home</a>
                <a href="" class="item">Bazrra</a>
                <a href="" class="item">Fusion</a>
                <a href="" class="item">Propagete</a>
                <a href="" class="item">Wiki</a>
                <a href="" class="item height-light">WIO Link</a>
            </div>
        </nav>
    </header>
	
    <section style="height:600px;"></section>
    
   <footer class="clear">
       <div class="footer__tips--outer">
           <div class="com-width center footer__tips f14">
               <a href="" class="item"><span class="ico ico-1"></span>DELIVERY INFOMATION</a>
               <a href="" class="item item-center"><span class="ico ico-2"></span>HELP CENTER</a>
               <a href="" class="item"><span class="ico ico-3"></span>CONTENT US</a>
           </div>
       </div>
        <div class="footer--info com-width center f12 c-9e">
            <div class="block">
                <ul>
                    <li class="title">Seeed Info</li>
                    <li><a href="" title="">About Seeed</a></li>
                    <li><a href="" title="">Distributors</a></li>
                    <li><a href="" title="">Designers</a></li>
                    <li><a href="" title="">Join Us </a></li>
                </ul>
            </div>
            <div class="block">
                <ul>
                    <li class="title">Contact Us</li>
                    <li><a href="" title="">Customer Service</a></li>
                    <li><a href="" title="">Technical Support</a></li>
                    <li><a href="" title="">Leave Feedbacks</a></li>
                </ul>
            </div>
            <div class="block">
                <ul>
                    <li class="title">Terms of Use</li>
                    <li><a href="" title="">Order Information</a></li>
                    <li><a href="" title="">Shipping Information</a></li>
                    <li><a href="" title="">Payment Information</a></li>
                    <li><a href="" title="">Warranty and Return</a></li>
                </ul>
            </div>
            <div class="block search">
                <ul>
                    <li class="title">Stay Tuned</li>
                    <li class="sign clear">
                        <input type="text" class="sign-input fl" name="" placeholder="    Your Email Here">
                        <span class="btn-sign btn bg-4a tc fl">SIGN UP</span>
                    </li>
                    <li class="title">Follow Us On</li>
                    <li class="social f18">
                        <a href="" title="" class="sns__ico sns--google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="" title="" class="sns__ico sns--youtube"><i class="fa fa-youtube"></i></a>
                        <a href="" title="" class="sns__ico sns--instagram"><i class="fa fa-instagram"></i></a>
                        <a href="" title="" class="sns__ico sns--facebook"><i class="fa fa-facebook"></i></a>
                        <a href="" title="" class="sns__ico sns--twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer--copyright f12 com-width center tr">
            Copyright ©2008-2015 Seeed Development All rights reserved
        </div>
   </footer>
        
<!--    <script src="../js/plugin/"></script>-->
    <script src="../js/lib/public_module.js"></script>
    <script src="../js/main.js"></script>
    <script>
        /* js code */ 
    </script>
</body>
</html>
