<!DOCTYPE html>
<html lang="en">
<head id="html-head">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Company Info : Seeed Studio Bazaar, Boost ideas, Extend the Reach</title>
<meta name="keywords" content="Power Supply Microcontrollers Awesome Projects Communication Sensors Displays Audios & Videos Actuators Prototyping Mechanics Accessories Tools Service & Gifts Retired Undefined Lights Development Kits User Interface Drivers Clearance Hook-up Memory Storage Computer Components Pre-Christmas Sale  Company Info">
<meta name="description" content="Seeed Studio Bazaar : Company Info - Power Supply Microcontrollers Awesome Projects Communication Sensors Displays Audios & Videos Actuators Prototyping Mechanics Accessories Tools Service & Gifts Retired Undefined Lights Development Kits User Interface Drivers Clearance Hook-up Memory Storage Computer Components Pre-Christmas Sale ">
<meta http-equiv="imagetoolbar" content="false">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="cache-control" content="max-age=3600">
<meta http-equiv="Expires" content="Thu, 31 Mar 2016 16:49:18 +0800">
<meta http-equiv="Last-Modified" content="Tue, 01 Jan 1990 12:00:00 GMT">
<meta property="og:title" content="Seeed Studio Bazaar"><!-- facebook meta,2011-04-29,Open Graph Protocol Begin-->
<meta property="og:site_name" content="Seeed Studio Bazaar">
<meta property="og:image" content="includes/templates/bootstrap/images/logo.png">
<meta property="og:url" content="http://www.seeedstudio.com/depot/">
<meta property="fb:admins" content="212078792144410">
<meta property="og:type" content="website"><!-- facebook meta,2011-04-29,Open Graph Protocol End-->
<!-- <base href="https://www.seeedstudio.com/depot/"> -->
<script src="../js/lib/jquery-1.11.3.min.js"></script>
<script src="../js/base_module.js"></script>
<link rel="stylesheet" href="../css/lib/fnav/about.css">
<script src="../js/fnav.js"></script>
<!--[if lt IE 9]>
  <script src="includes/templates/bootstrap/jscript/html5shiv.js?20160225"></script>
  <script src="includes/templates/bootstrap/jscript/respond.min.js?20160225"></script>
<![endif]-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '1080959988628815');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1080959988628815&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
</head>
<body id="aboutusBody">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="header" id="header"></header>
  <!-- Start of container -->
 <div class="container">
    <div class="">
              <ol class="breadcrumb"><li><a href="http://www.seeedstudio.com/depot/" > <span class="glyphicon glyphicon-home"></span>Bazaar</a></li>
<li class="active">Ordering Information</li></ol>
                        <div class="col-sm-12">
                <div class="row">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a  data-toggle="tab">Order Information</a></li>
        <li><a  data-toggle="tab">Shipping Information</a></li>
        <li><a  data-toggle="tab">Payment Information</a></li>
        <li><a  data-toggle="tab">Warranty and Return</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content col-md-12">
        <div class="tab-pane active lh26" id="order-information">
            <h3>General</h3>
            <div class="mb20">
                <ol>
                    <li>1. We only accept the online order.</li>
                    <li>2. All Prices stated are FOB Shenzhen. It does not include transportation costs which shall be borne by customers.</li>
                </ol>
            </div>
            <h3>Order Status</h3>
            <div class="mb20">
                <strong>When you place your order, it will go through a series of steps during fulfillment.</strong>
                <ol>
                    <li>1. Pending: Your order is submitted to us but without checkout.</li>
                    <li>2. Confirmed: Your order is accepted by us.</li>
                    <li>3. Processing: Your order is under Processing.</li>
                    <li>4. Shipped: Your order is collected for assignment by the forwarder.</li>
                    <li>5. Traceable: Tracking information for your order is available.</li>
                    <li>6. Waiting: Human interaction is needed for your order.</li>
                    <li>7. In Production: Your order needs more than 3 working days Processing time.</li>
                    <li>8. Canceled: Your order is canceled.</li>
                </ol>
            </div>
            <h3>Remark</h3>
            <div class="mb20">
                <ol>
                    <li>1. We will reserve the "pending" order for 2 weeks. If you don't check out within this Period, the order will be canceled.</li>
                    <li>2. Once your order has reached "processing" status, it can no longer be canceled or otherwise altered in any way.</li>
                    <li>3. It normally takes 1-2 working days for the order status to change from "Shipped" to "Traceable", since we need some time to collect the tracking information from the forwarder and upload it to our system. You can enter your order here to track it when its status reaches "Traceable".</li>
                    <li>4. If your order is set as "Waiting" status, our Customer-Service stuff will contact you within 24-48 working hours to get this flag cleared ASAP.</li>
                    <li>5. Some Particular orders' Processing time will be longer than 3 working days, like the Fusion Service. We will apply the "In Production" status flag to these orders.</li>
                    <li>6. Please contact our customer service stuff timely if you need to cancel an order, and that order doesn't reach the "processing" status. To avoid any trouble, Please recheck your shopping cart before checkout.</li>
                </ol>
            </div>
        </div>
        <div class="tab-pane lh26" id="shipping-information">
            <h3>General</h3>
            <div class="mb20">
                <ol>
                    <li>1. We can ship all in-stock orders in 1-3 business days as your payment has cleared.</li>
                    <li>2. All items are inspected before dispatch and are carefully hand-packed.</li>
                    <li>3. With standard courier practice, you check the contents of the parcel before signing for your goods. If you do not we can't be held responsible for any damage that may have occurred in transit.</li>
                    <li>4. Actual shipping costs are calculated during checkout. For an estimate before checkout, please add the items you intend to order to your cart, and then cpck "Estimate Shipping" from the Shopping Cart page. This will provide a list of estimates for the shipping methods available to your selected destination.</li>
                    <li>5. We will ship according to the shipping address you provided, please notify us any address change before your order is marked "Shipped" to avoid parcel loss.</li>
                </ol>
            </div>
            <h3>Shipping Options</h3>
            <div class="mb10">
                We offer registered Air mail and competitively priced DHL/UPS shipping service.<br />
                For order over $50, we offer the free Registered Air mail shipping. For order over $500, we offer the free DHL shipping(Free shipping exclude Propagate product).<br />
                To avoid the big loss caused by parcel lost in transit, the Registered Air mail shipping is not available for order over $200. If the Registered Air mail shipping is must for you, please leave us a comment. We will charge you the Express shipping cost, and ship following your instruction. But we regret that we can't hold the responsibipty for the possible loss.
            </div>
            <div class="mb20">
                <ol>
                    <li>
                        <strong>Air mail</strong><br />
                        It is calculated per 10g, starts from 2USD including handling and package fee.<br />
                        It normally takes 15 to 25 days to reach majority of the world, but shipping time is greatly affected by factors beyond our control, like weather, post office delay, custom and etc. We couldn't guarantee a timely delivery but will perform the best on our side.<br />
                        If your order by Air mail is notified as "Traceable" for 30 days without reception, please contact your post office and notify us. We will follow up closely to track the parcel, and refund/ reship in the worst case.
                    </li>
                    <li>
                        <strong>DHL/UPS</strong><br />
                        <strong>DHL:</strong>3-5 days not guaranteed, tracked, not insured, delivery by end of day.<br />
                        <strong>UPS Worldwide Express plus:</strong>1-3 Business Days not guaranteed, tracked, not insured, delivery as early as 8:00 a.m.<br />
                        <strong>UPS Worldwide Express:</strong>1-3 Business Days not guaranteed, tracked, not insured, delivery typically by 10:30 a.m. or 12:00 noon.<br />
                        <strong>UPS Worldwide Express Saver:</strong>1-3 Business Days not guaranteed, tracked, not insured, delivery by end of day.<br />
                        <strong>UPS Worldwide Expedited:</strong>3-5 Business Days not guaranteed, tracked, not insured, delivery by end of day.<br />
                    </li>
                </ol>
            </div>
            <h3>Customs, Duties and Taxes</h3>
            You should expect to pay any amount charged by the government in your respective country. This includes, and is not limited to, duties, taxes and any extra fees charged by the courier company. We will not hold responsible for any extra charges once the original package has been shipped.
            If the customer refuses to pay these extra charges, the return shipping and any additional fees will be taken out of the cost of the order, with any remaining funds being refunded to the customer.<br />
            Customs are quite different in each country. please comment while you are placing order about the requirements, we will support as much as possible.
            <h3>Split Orders</h3>
            To fill your order as quickly and efficiently as possible, we sometimes will split your order into a number of different packages so that we could take advantage of the items in stock at different warehouses. For example, we have a warehouse in America so you may receive multiple deliveries if you use American address for shipping.<br />
            Regardless of the number of deliveries you receive, you'll only be charged the amount that was originally quoted to you at the time you placed your order.
        </div>
        <div class="tab-pane lh26" id="payment-information">
            <h3>General</h3>
            <div class="mb20">
                Payment Term is DELIVERY AGAINST PAYMENT, we DO NOT accept C.O.D. orders.<br />
                We accept the PayPal, Credit Card and Wire Transfers.
            </div>
            <h3>PayPal</h3>
            <div class="mb20">
                It is possible to make an electronic balance transfer via PayPal to: seratechi@gmail.com. You can choose this method directly during the online payment process.
            </div>
            <h3>Credit Card</h3>
            <div class="mb20">
                In order to pay by credit card, you will be required to enter your credit card number with the date of expiry once you reach Checkout. We accept Visa and MasterCard
            </div>
            <h3>Wire Transfers</h3>
            Wire Transfers can only be used on orders with a grand total (subtotal plus all additions and deductions and shipping fees excluded) of at least $500.<br />
            For order > $2000, Wire Transfers is preferred. In this circumstance, 3% extra discount will be applied for the grand total (subtotal plus all additions and    deductions, shipping fees excluded).<br />
                Wire transfer payments usually take 3-5 business days to clear. We will not ship your order until your payment is verified by our bank. Please send a copy of the Wire transfers receipt to our customer service, it is not sufficient to release an order, but will help to push the delivery date.
        </div>
        <div class="tab-pane lh26" id="warranty-return">
            <h3>Warranty</h3>
            <div class="mb20">
                We guarantee to provide accurate descriptions and high quality product. If you have any problems with your order, please notify us within 60 days from date of shipment of any defective product. You agree to pay for the return shipping on exchanges and returns and we will reimburse this cost upon verification of a defect with the product. Furthermore, no warranty will apply if the Product has been subject to misuse, static discharge, neglect, accident, modification, or has been soldered or altered in any way.
            </div>
            <h3>Returns</h3>
            If you are not satisfied with a product you bought, for whatever reason, it is possible to return it for refund within 5 days of receipt (10 days for an exchange). You must first advise us by email: order@seeedstudio.com for return authorization.<br />
            No returns will be accepted without having previously obtained a return authorization. All returns must be in its original mint and clean condition. Returns on damaged, scratched, programmed, burnt, or otherwise 'played with' product will not be accepted. The product must then be returned in its original packaging with its receipt and a small note for the reason of the return. The note will help us to serve you better and improve our products. Reimbursement will be denied for any products which do not conform to the abovementioned conditions.<br />
            Please note that all items will be reimbursed within 3 days of receiving the product (shipping fees excluded). You must cover the cost of returning the product. You will need to pay for shipping (if you want a refund instead of a replacement). Shipping fees will only be refunded if the return is a result of a shipping error on our part.
        </div>
    </div>
</div>
              </div>
                </div>
  </div>

  <!-- End of container -->

 <footer class="footer" id="footer"></footer>
   <script src="../js/fnav.js"></script>
    <script>
        $(function(){
            loadIndex();
        });
    </script>
</body></html>
