<!DOCTYPE html>
<html lang="en">
<head id="html-head">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Company Info : Seeed Studio Bazaar, Boost ideas, Extend the Reach</title>
<meta name="keywords" content="Power Supply Microcontrollers Awesome Projects Communication Sensors Displays Audios & Videos Actuators Prototyping Mechanics Accessories Tools Service & Gifts Retired Undefined Lights Development Kits User Interface Drivers Clearance Hook-up Memory Storage Computer Components Pre-Christmas Sale  Company Info">
<meta name="description" content="Seeed Studio Bazaar : Company Info - Power Supply Microcontrollers Awesome Projects Communication Sensors Displays Audios & Videos Actuators Prototyping Mechanics Accessories Tools Service & Gifts Retired Undefined Lights Development Kits User Interface Drivers Clearance Hook-up Memory Storage Computer Components Pre-Christmas Sale ">
<meta http-equiv="imagetoolbar" content="false">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="cache-control" content="max-age=3600">
<meta http-equiv="Expires" content="Thu, 31 Mar 2016 16:49:18 +0800">
<meta http-equiv="Last-Modified" content="Tue, 01 Jan 1990 12:00:00 GMT">
<meta property="og:title" content="Seeed Studio Bazaar"><!-- facebook meta,2011-04-29,Open Graph Protocol Begin-->
<meta property="og:site_name" content="Seeed Studio Bazaar">
<meta property="og:image" content="includes/templates/bootstrap/images/logo.png">
<meta property="og:url" content="http://www.seeedstudio.com/depot/">
<meta property="fb:admins" content="212078792144410">
<meta property="og:type" content="website"><!-- facebook meta,2011-04-29,Open Graph Protocol End-->
<!-- <base href="https://www.seeedstudio.com/depot/"> -->
<script src="../js/lib/jquery-1.11.3.min.js"></script>
<script src="../js/base_module.js"></script>
<link rel="stylesheet" href="../css/lib/fnav/about.css">
<script src="../js/fnav.js"></script>
<!--[if lt IE 9]>
  <script src="includes/templates/bootstrap/jscript/html5shiv.js?20160225"></script>
  <script src="includes/templates/bootstrap/jscript/respond.min.js?20160225"></script>
<![endif]-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '1080959988628815');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1080959988628815&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
</head>
<body id="aboutusBody">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="header" id="header"></header>
  <!-- Start of container -->
<div class="container">
    <div class="">
              <ol class="breadcrumb"><li><a href="http://www.seeedstudio.com/depot/" > <span class="glyphicon glyphicon-home"></span>Bazaar</a></li>
<li class="active">Technical Support</li></ol>
                        <div class="col-sm-12">
                <div class="row">
    <ul class="nav nav-tabs" role="tablist">
           <li role="presentation"><a  href="customer_service.html">Customer Service</a></li>
            <li role="presentation"  class="active"><a  href="support.html">Technical Support</a></li>
    </ul>
    <div class="col-md-12"><div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="technical">
            <div class="alert alert-info"><b>Note: </b>If you have any questions related to the below subjects, please submit it to our Technical Support. We would reply you soon. If you have any other questions please contact our <a href="index.php?main_page=customer_service" target="_blank">Customer Service</a></div>
                                    <div class="mb50">
                <h4><i class="fa fa-life-saver oc mr10"></i>Seeed designed Products</h4>
                <p>Most information (documentation, specification, datasheets, software, design files etc..) for our own products are available for download on each product's page (Navigate to Wiki link). The design files and other resources are available under open source licenses for most products.</p>
                <p>Some of the most frequently asked questions are archived at <a href="http://support.seeedstudio.com/knowledgebase/topics/68006-products-faq/" target="_blank">Products FAQ Page</a> and <a href="http://www.seeedstudio.com/forum/search.php" target="_blank">Seeed Forum</a>. Please search there before posting.</p>
                <p>We have a small team that manages the Technical Support. Seeed does not provide consultation services. If you need advice on designing your project or if you are having a problem with something, please submit it to <a href="http://www.seeedstudio.com/forum/" target="_blank">Seeed Technical Support Forum</a>. You would get great help from the community. </p>
                <p><i class="fa fa-heart oc"></i> <b>Technical Support can only help suggest products to purchase, and ensure that those products are working as expected.</b> While asking for technical support please provide detailed information about your setup (Product Name & Version, Photo of hardware Setup, connection diagram, Software Library used, Software IDE used etc..). This will help us reproduce the issue at our environment and provide you a quick solution.</p>
            </div>
            <div class="mb50">
                <h4><i class="fa fa-life-saver oc mr10"></i>Collaborative designer's Products</h4>
                <p>Seeed sells products designed by collaborative designers. We manufacture these products on behalf of designers. Please request technical support for such products from designer's website / email. A link to designer's website is always provided at the end of product page.</p>
            </div>
            <div class="mb50">
                <h4><i class="fa fa-life-saver oc mr10"></i>Third party Products</h4>
                <p>We also resell popular MCU development boards, single-board computers, sensors and different components manufactured by others. Technical support for such products are provided by original manufacturer.</p>
            </div>
            <div class="mb50">
                <h4><i class="fa fa-life-saver oc mr10"></i>Shenzhen2U Products</h4>
                <p>Read more here : <a href="http://www.seeedstudio.com/depot/Shenzhen-2U-t-11.html" target="_blank">Shenzhen2U</a>. Basic documentation are provided in product's page. In most cases there might not be a separate datasheet. All specification, features and connection information are available in product's page.</p>
            </div>
            <hr>
            <div class="row mt50"><div class="col-md-6">
                <div class="form-group">
                    <label class="bold">Search Seeed Technical Support forums here:</label>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" id="forum_topic" name="forum_topic" maxlength="100" placeholder="enter key words or topic">
                        <span class="input-group-btn"><button class="btn btn-default" type="button" name="search_forum_button" id="search_forum_button">Search</button></span>
                    </div>
                </div>
            </div></div>
            <div class="row mt30"><div class="col-md-12">
                <form action="#" method="post"  onSubmit="return form_check();return false;">
                <div class="col-md-6 form-horizontal">  
                    <div class="form-group">
                        <label class="bold"><s class="c">*</s>I need support on product:</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" id="product_name_sku" name="product_name_sku" maxlength="100" placeholder="enter a product name/SKU here...">
                            <input id="product_website" name="product_website" type="hidden" value="" />
                            <span class="input-group-btn"><button class="btn btn-default" type="button" name="find_product_button" id="find_product_button">Find A Product</button></span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                    <p>Please enter an accurate product name or SKU here to help our staff easily to know what product you mean.</p>
                        <label class="col-sm-4 control-label"><s class="c">*</s>Subject:</label>
                        <div class="col-sm-8">
                            <input type="text" placeholder="" name="email_subject" id="email_subject" class="form-control" placeholder="Subject:">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><s class="c">*</s>Name:</label>
                        <div class="col-sm-8">
                            <input type="text" value="" name="support_user" id="support_user" maxlength="100" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><s class="c">*</s>E-mail:</label>
                        <div class="col-sm-8">
                            <input type="email" placeholder="E-mail" name="email_address" id="email_address" maxlength="100" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label bold"><input type="checkbox" onclick="qualityIssue()" name="quality_issue" id="quality_issue" > Quality Issue</label>
                        <div class="col-sm-8">
                            If you got a defect, please let us know. We will do our best to locate the cause and work out a satisfying solution ASAP.                        </div>
                    </div>
                    <div id="quality_issue_purchased" style="display: none;">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><s class="c">*</s>Purchased From:</label>
                            <div class="col-sm-8">
                                <select class="form-control" onchange="purchasedFrom()" name="purchased_from" id="purchased_from">
                                    <option value="">Please Select...</option>
                                    <option value="Seeed Studio">Seeed Studio</option>
                                    <option value="Othe">Othe</option>
                                </select>
                                <input name="purchased_from_othe" type="text" id="purchased_from_othe" class="form-control" placeholder="Enter the purchase from" style="display:none;" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><s class="c">*</s>Order Number:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Order Number" name="order_number" maxlength="100" id="order_number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Serial:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="" name="product_serial" maxlength="100" id="product_serial">
                                <span class="help-block">(Keep the lable for warranty. MO number will be needed to track the product batch.)</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <img width="250" height="200" src="./images/Serial.jpg" />
                            </div>
                        </div>
                    </div>            
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><s class="c">*</s>Description:</label>
                        <div class="col-sm-8">
                        <textarea class="form-control" name="support_description" id="support_description" placeholder="Please enter the details of your request. A member of our support staff will respond as soon as possible."></textarea>
                        </div>
                    </div>
                                        <div class="form-group">
                        <label class="col-sm-4 control-label"><s class="c">*</s>Verification code:</label>
                        <div class="col-sm-8">
                            <input type="text" name="captcha" id="captcha" class="form-control" /><span class="help-block" placeholder="Verification code">&nbsp;* (case insensitive)</span>                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-10">
                            <img id="captcha-img" src="http://www.seeedstudio.com/depot/captcha_img.php?zenid=ad65ac961df01b300dcfb8e45c934df0&rand=0.627882001459504052" alt="Enable this picture" title=" Enable this picture " width="240" height="50" />                            <img src="../img/button_redraw.gif" alt="Redraw Capture Image" 
                            title=" Redraw Capture Image " width="54" height="19" onclick="document.getElementById('captcha-img').src='http://www.seeedstudio.com/depot/captcha_img.php?zenid=ad65ac961df01b300dcfb8e45c934df0&rand='+Math.random();return false;"  />                        </div>
                    </div>
                     
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <button id="" class="btn btn-success" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
                </form>
            </div></div>

        </div>
    </div></div>
</div>

    <div class="modal fade " id="seach-forum-dialog" tabindex="-1" role="dialog" aria-labelledby="SeachForumContentsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="SeachForumContentsLabel">Seach Results</h4>
                </div>
                <div class="modal-body">
                    <div id="seach-forum-content">
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="product-website-dialog" tabindex="-1" role="dialog" aria-labelledby="productWebsiteLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h6 class="modal-title" id="productWebsiteLabel">Seach Results</h6>
            </div>
            <div class="modal-body">
                <div id="product-website-content">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>              </div>
                </div>
  </div>

  <!-- End of container -->

 <footer class="footer" id="footer"></footer>
   <script src="../js/fnav.js"></script>
   <script>
       $(function(){
           loadIndex();
       });
   </script>
    
</body></html>
